services:
  zerotier-server:
    image: define-your-zerotier:latest
    build:
      context: build
      dockerfile: Dockerfile
    container_name: zerotier-server
    restart: unless-stopped
    ports:
      - "9993:9993/tcp"
      - "9993:9993/udp"
      - "${API_PORT}:3443"
    environment:
      - IP_ADDR4=${IP_ADDR4}
      - IP_ADDR6=${IP_ADDR6}
    volumes:
      - "${DATA_PATH}/dist:/app/dist"
      - "${DATA_PATH}/ztncui:/app/ztncui"
      - "${DATA_PATH}/one:/var/lib/zerotier-one"
      - "${DATA_PATH}/config:/app/config"
