services:
  zerotier-controller:
    image: skylarleo/define-your-zerotier:latest
    container_name: zerotier-controller
    ports:
      - "${EXPOSE_PLANET_PORT:-9993}:9993/tcp" # 当9993端口不可用时，会使用tcpRelay
      - "${EXPOSE_PLANET_PORT:-9993}:9993/udp"
    volumes:
      - "${DATA_PATH}:/var/lib/zerotier-one"