name: Build and Push Docker Image
run-name: Build and push ZeroTier Planet Server ${{ github.sha }}

on:
  push:
    branches: [ main ]
  # 预留给后续扩展需求使用例如打 slim，controller等特殊版本标签时使用
  workflow_dispatch:
    inputs:
      version:
        description: 'Custom version tag' 
        required: false
        default: 'latest'

env:
  REGISTRY: docker.io
  IMAGE_NAME: skylarleo/define-your-zerotier

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Get ZeroTier Version
      id: zerotier-version
      run: |
        # 获取 ZeroTier 版本
        cd build
        source build.sh
        if _getReleaseVersion; then
          echo "version=${RELEASES}" >> $GITHUB_OUTPUT
          echo "ZeroTier version: ${RELEASES}"
        else
          echo "Failed to get ZeroTier version"
          exit 1
        fi
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN}}
        
    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: |
          type=raw,value=latest,enable={{is_default_branch}}
          type=raw,value=v${{ steps.zerotier-version.outputs.version }}-{{sha}}
          type=raw,value=${{ github.event.inputs.version }},enable=${{ github.event_name == 'workflow_dispatch' }}
        
    - name: Build and push Docker image
      id: build
      uses: docker/build-push-action@v5
      with:
        context: ./build
        file: ./build/Dockerfile
        platforms: linux/amd64
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
        build-args: |
          USE_CHINA_MIRROR=false
        
    - name: Generate artifact attestation
      uses: actions/attest-build-provenance@v1
      with:
        subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
        subject-digest: ${{ steps.build.outputs.digest }}
        push-to-registry: true